
<h1>Stupid Coaching!</h1>

<form action="/answer" data-turbo="false" class="ask input-group mt-3">
  <p class="input-group-text">Ask your coach anything</p>
  <input type="text" name="question" placeholder="Enter question..." class="form-control">
  <input type="submit" value="Ask" class="btn btn-primary">
</form>
